node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
/vite.config.d.ts
/example/vite.config.d.ts
/example/vite-plugins/*.d.ts
/docs/vite.config.d.ts

.vscode/*
!.vscode/extensions.json
.DS_Store

example/public/uploads/*
!example/public/uploads/.gitkeep
.env
.git-credentials